.Error
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 288px;
    line-height: 142.6%;
    display: flex;
    justify-content: center;
    color: #FF6060;
}

h2
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 142.6%;
    display: flex;
    justify-content: center;
    color: #FF6060;
    margin-top: -10%;
}

h4
{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    display: flex;
    justify-content: center;
    text-decoration-line: underline;
    color: #FF6060;
}