.bloc-images 
{
    display: flex;
    justify-content:center;
}

.Images
{
    height: 415px;
    width: 1240px;
    border-radius: 25px;
}

.photo-profil
{
    border-radius: 50%;
    object-fit: cover;
    height: 64px;
    width: 64px;
}

.titre2
{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 18px;
    color: #FF6060;
    display: flex;
    justify-content: flex-start;
}

.name
{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 18px;
    color: #FF6060;
    width:50%;
}

.bloc-location-loueur
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3%;
    margin-top: 1%;
}

.bloc-location
{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.bloc-loueur
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 5%;
    height: 15%;
    margin-top: 2%;

}



.description-equipements
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.des-equi
{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    background-color: #FF6060;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 3%;
    margin-top: 0;
}

section
{
    display: flex;
    flex-direction: column;
    width: 35%;
    background-color: #F7F7F7;
    margin-right: 5%;
    margin-left: 5%;

}

.equipements
{
    display: flex;
    flex-direction: column;
    background-color: #F7F7F7;
}

.desequi-p
{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    color: #FF6060;
    margin-left: 3%;
}

.loueur
{
    display: flex ;
    flex-direction: row;
}

/**Collapse**/

.fa-chevron-up, .fa-chevron-down:hover
{
    cursor: pointer;
}

.textActif
{
    display: flex;
    flex-direction: column;
    background: #F7F7F7;
    border-radius: 5px;
    color: #FF6060;
    margin-bottom: 0;
    font-weight: bold;
}

.textInactif
{
    display: none;
}
.chevron
{
    background-color: #FF6060;
    display: flex;
    width: 95%;
    justify-content: space-between;
    border-radius: 10px;
}

.fa-chevron-down, .fa-chevron-up
{
    display: flex;
    justify-content: flex-end;
    color: #fff;
    width: 10%;
    margin-right: 2%;
    margin-top: 2%;
}
.Title
{
    display: flex;
    width: 95%;
    justify-content: center;
    margin-top: 3%;
    margin-left: 2%;
    flex-direction: column;
    height: 30%;
}



.titreCollapse
{
    color: #fff;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 24px;
    line-height: 142.6%;
    padding-left: 1%;
    display: flex;
    justify-content: left;
}
.titre
{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 36px;
    color: #FF6060;
    margin-bottom: 10%;
}

.description-collapse
{
    background-color: #F7F7F7;
    width: inherit;
}


/**Collapse**/


@media screen and (max-width: 767px)
{
    body
    {
        margin-left: 0;
        margin-right: 0;
    }
    .Images
    {
        width: 95%;
    }

    .bloc-location-loueur
    {
        flex-direction: column;
    }

    .titre
    {
        font-size: 18px;
        line-height:26px;
        justify-content: flex-start;
        margin-left: 2%;
        height: 36px;
        margin-bottom: 3%;
    }
    .titre2
    {
        margin-top: 1%;
        margin-left: 2%;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 1%;
    }

    .tags
    {
        padding-top: 0;
        padding-bottom: 0;
        font-size: 15px;
        height: 18px;
        width: 25%;
        text-align: center;
    }
    
    .bloc-loueur
    {
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-top: 2%;
    }

    .loueur
    {
        justify-content: flex-end;
        margin-right: 3%;
    }

    .star
    {
        margin-top: 7%;
        margin-left: 5%;
    }

    .description-equipements
    {
        flex-direction: column;
        margin-right: 3%;
        margin-left:3%;
        width: 98%;
    }

    .chevron
    {
        height: 30px;
    }

    .titreCollapse
    {
        font-size: 12px;
    }

    .Bloc-Stars
    {
        display: flex;
        gap: 7%;
    }

}